@model DataAccessLayer.Models.Test



<div data-id="@Model.Id" class="testpageContainer">
    <p class="testname">@Model.TestName</p>

    @foreach (var question in Model.Questions)
    {
        <div data-id="@question.Id" class="questionContainer">
            <p>@question.QuestionText</p>
            <div class="answersContainer">
                @foreach (var answer in question.Answers)
                {
                    <div class="answer" data-id="@answer.Id" onclick="selectAnswer()">
                        @answer.AnswerText
                    </div>
                }
            </div>
        </div>
    }

    <button onclick="submit()">
        submit
    </button>

</div>
